@font-face {
    font-family: 'Noto Sans KR';
    font-style: thin;
    font-weight: 200;
    src: url(./fonts/NotoSans-Thin.eot);
    src: url(./fonts/NotoSans-Thin.eot?#iefix) format('embedded-opentype'),
    url(./fonts/NotoSans-Thin.woff2) format('woff2'),
    url(./fonts/NotoSans-Thin.woff) format('woff'),
    url(./fonts/NotoSans-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: lighter;
    font-weight: 300;
    src: url(./fonts/NotoSans-Light.eot);
    src: url(./fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
    url(./fonts/NotoSans-Light.woff2) format('woff2'),
    url(./fonts/NotoSans-Light.woff) format('woff'),
    url(./fonts/NotoSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/NotoSans-Regular.eot);
    src: url(./fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
    url(./fonts/NotoSans-Regular.woff2) format('woff2'),
    url(./fonts/NotoSans-Regular.woff) format('woff'),
    url(./fonts/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: medium;
    font-weight: 600;
    src: url(./fonts/NotoSans-Medium.eot);
    src: url(./fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
    url(./fonts/NotoSans-Medium.woff2) format('woff2'),
    url(./fonts/NotoSans-Medium.woff) format('woff'),
    url(./fonts/NotoSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: bold;
    font-weight: 700;
    src: url(./fonts/NotoSans-Bold.eot);
    src: url(./fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
    url(./fonts/NotoSans-Bold.woff2) format('woff2'),
    url(./fonts/NotoSans-Bold.woff) format('woff'),
    url(./fonts/NotoSans-Bold.ttf) format('truetype');
}