@charset "UTF-8";

/* M 플로팅 메뉴 */
.float-menu {
    display: block;
}

.float-menu .dimmed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6800;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    background: rgba(0,0,0,.5);
}

.float-menu.active .dimmed {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
}

.float-btn-group {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 6900;
}

.btn-float {
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
    /* 그림자 추가 */
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
}


.btn-float.top {
    background: #ACACAC url(../img/floating/ico-float-top.png) 50% 50% / 48px auto no-repeat;
}

/*.btn-float.top:hover {
    background-color: #9D9D9D;
}
*/
.btn-float.more {
    transform: rotate(0deg);
    background: #00B6AB url(../img/floating/ico-float-more.png) 50% 50% / 50px auto no-repeat;
}

/*.btn-float.more:hover {
    background-color: #EE4B04;
}*/

.float-hidden-group {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.float-hidden-group.active {
    display: block;
    opacity: 1;
    visibility: visible;
}

.float-hidden-group.active + .btn-float.more {
    transform: rotate(45deg);
}

.float-hidden-group .btn-float {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 46px;
    height: 46px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.float-hidden-group .btn-float {
    transform: translateY(0);
}

.float-hidden-group.active .btn-float:nth-child(1) {
    transform: translateY(-225px);
}

.float-hidden-group.active .btn-float:nth-child(2) {
    transform: translateY(-170px);
}

.float-hidden-group.active .btn-float:nth-child(3) {
    transform: translateY(-115px);
}

.float-hidden-group.active .btn-float:nth-child(4) {
    transform: translateY(-60px);
}

.btn-float.r-chk {
     background: #4F4E53 url('../img/floating/ico-reserve-chk-white.png') 50% 50% / 24px auto no-repeat;
}

.btn-float.rt {
    background: #4F4E53 url('../img/floating/ico-rt.png') 50% 50% / 23px auto no-repeat;
}

.btn-float.call {
    background: #4F4E53 url('../img/floating/ico-call.png') 50% 50% / 25px auto no-repeat;
}

.btn-float.kakao {
    background: transparent url('../img/floating/ico-kakao.png') 50% 50% / 67px auto no-repeat;
}

.btn-float.toktok {
    background: #00C63B url('../img/floating/ico-toktok.png') 50% 50% / 40px auto no-repeat;
}

.btn-float.cs {
    background: #FFF url(../img/floating/ico-msg.png) 50% 50% / 17px auto no-repeat;
}

/* 플로팅 튤팁 */
.fl-tooltip {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 100%;
    margin-right: 10px;
    padding: 0 10px;
    border-radius: 15px;
    background-color: #4D66F0;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    white-space: nowrap;
    animation: fork 700ms infinite ease-in-out;
}

@keyframes fork {
    0%   {right: 45px}
    50%  {right: 47px}
    100% {right: 45px}
}

/* 튤팁 그림자 */
.tooltip-shadow {
    position: absolute;
    top: 5px;
    bottom: -5px;
    left: 5px;
    right: -5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.07);
}

/* 화살표팁 그림자 */
.tooltip-shadow:before {
    content: '';
    position: absolute;
    left: 10%;
    bottom: -20px;
    transform: translateX(-10%);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: rgba(0,0,0,.07);
}

.pc-off {
    display: block;
}

.pc-float-menu {
    display: none;
}

/* 1024px이상 PC화면 */
@media (min-width: 1024px) {

    /* PC 플로팅 메뉴 */
    .float-menu {
        display: none;
    }

    .float-menu .dimmed {
        display: none;
    }

    .pc-off {
        display: none;
    }
}