@font-face {
    font-family: 'Noto Sans KR';
    font-style: thin;
    font-weight: 100;
    src: url(./font/NotoSans-Thin.eot);
    src: url(./font/NotoSans-Thin.eot?#iefix) format('embedded-opentype'),
    url(./font/NotoSans-Thin.woff2) format('woff2'),
    url(./font/NotoSans-Thin.woff) format('woff'),
    url(./font/NotoSans-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: lighter;
    font-weight: 200;
    src: url(./font/NotoSans-Light.eot);
    src: url(./font/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
    url(./font/NotoSans-Light.woff2) format('woff2'),
    url(./font/NotoSans-Light.woff) format('woff'),
    url(./font/NotoSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: demilight;
    font-weight: 300;
    src: url(./font/NotoSans-DemiLight.eot); 
    src: url(./font/NotoSans-DemiLight.eot?#iefix) format('embedded-opentype');
    src: local('※'),
        url(./font/NotoSans-DemiLight.woff2) format('woff2'),
        url(./font/NotoSans-DemiLight.woff) format('woff'),
        url(./font/NotoSans-DemiLight.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(./font/NotoSans-Regular.eot);
    src: url(./font/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
    url(./font/NotoSans-Regular.woff2) format('woff2'),
    url(./font/NotoSans-Regular.woff) format('woff'),
    url(./font/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: medium;
    font-weight: 500;
    src: url(./font/NotoSans-Medium.eot);
    src: url(./font/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
    url(./font/NotoSans-Medium.woff2) format('woff2'),
    url(./font/NotoSans-Medium.woff) format('woff'),
    url(./font/NotoSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: bold;
    font-weight: 700;
    src: url(./font/NotoSans-Bold.eot);
    src: url(./font/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
    url(./font/NotoSans-Bold.woff2) format('woff2'),
    url(./font/NotoSans-Bold.woff) format('woff'),
    url(./font/NotoSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: black;
    font-weight: 900;
    src: url(./font/NotoSans-Black.eot); 
    src: url(./font/NotoSans-Black.eot?#iefix) format('embedded-opentype');
    src: local('※'),
        url(./font/NotoSans-Black.woff2) format('woff2'),
        url(./font/NotoSans-Black.woff) format('woff'),
        url(./font/NotoSans-Black.otf) format('opentype');
}