/*-------------------------------------------------------------------
    작성날짜 : 2020-03-10
    수정날짜 : 
    *(주의사항 : )
-------------------------------------------------------------------*/
@charset "UTF-8";

.trail-box {
	position: absolute;
	left: 0;
	bottom: -51px;
	width: 100%;
	height: 52px !important;
	background-color: #1D2830;
}

.trail-box.hide {
	display: none !important;
}

#list_trail {
	z-index: 200;
	width: auto;
	height: auto;
}

#list_trail div {
	width: auto;
	height: auto;
}

#list_trail #trail_home {
	float: left;
	width: 52px;
	height: 52px;
	background: transparent url('../img/icons/ico-trail-home.png') 50% 50%/ 16px 16px no-repeat;
	border-left: 1px solid #5a6268;
	border-right: 1px solid #5a6268;
}

#list_trail #trail_home > a {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#list_trail li {
	float: left;
	height: 52px;
}

#list_trail .trail-item {
	display: inline-block;
	float: left;
	position: relative;
	width: 208px;
	height: 52px;
	padding: 15px 5px 15px 30px;
	border-right: 1px solid #5a6268;
}

#trail_depth_def > span {
	background:transparent !important;
}

#list_trail .trail-item.hide {
	display: none;
}

#list_trail .trail-item.mobile-f {
	min-width: 208px;
	width: auto;
	max-width: 345px;
	border-right: 1px solid #456196;
}

#list_trail .trail-item span {
	display: inline-block;
	width: 100%;
	background: transparent url('../img/icons/ico-acc-white.png') 90% 50%/12px 8px no-repeat;
	font: 500 15px 'Noto Sans KR';
	/*color: #FFF;*/
	color: rgba(255,255,255,.8);
	cursor: pointer;
	overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    -moz-text-overflow:ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1.5em;
    height: 1.5em;
}

#list_trail .trail-item.toggle span {
	background: transparent url('../img/icons/ico-acc-white-up.png') 90% 50%/12px 8px no-repeat;
}

#list_trail .trail-item.mobile-f span {
	padding-right: 65px;
}

#list_trail .trail-item ul {
	display: none;
	position: absolute;
	z-index: 100;
    left: 0;
    top: 52px;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #5a6268;
}

#list_trail .trail-item ul li {
	display: block;
	width: 100%;
	height: auto;
	padding: 15px 10px 15px 30px;
	background-color: #1d2830;
	border-bottom: 1px solid #5a6268;
	font: 400 15px 'Noto Sans KR';
	color: rgba(255,255,255,.8);
	cursor: pointer;
}

.select-mobile {
	display: none;
}

.product-wrap {
	position: relative;
	width: 100%;
	max-width: 1024px;
	min-height: 760px;
	margin: 0 auto;
}

.product-snb {
	float: left;
	width: 228px;
	padding: 0 0 50px 0;
	text-align: left;
}

.product-snb h2 {
	padding: 30px 20px;
	font: 400 32px 'Noto Sans KR';
	color: #333;
	line-height: 1.4;
}

/* 1뎁스 */
.snb-depth1 {
	border-top: 2px solid #333;
}

.snb-depth1 > li {
	padding: 10px 0;
	border-bottom: 1px solid #D3D3D3;
}

.snb-depth1 > li:last-child {
	border-bottom: 0;
}

.snb-depth1 > li > a {
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 12px 16px 12px 22px;
	font: 300 16px 'Noto Sans KR';
	color: #333;
	line-height: 1.4;
	cursor: pointer;
}

.snb-depth1 > li.toggle > a {
	background-color: #E61400;
	border-radius: 60px;
	color: #FFF;
}

.snb-depth1 > li > a > i {
	position: absolute;
	top: 50%;
	right: 15px;
	-ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 13px;
	height: 13px;
	background: transparent url('../img/icons/ico-acc.png') 50% 0%/13px 26px no-repeat;
}

.snb-depth1 > li.toggle > a > i {
	background: transparent url('../img/icons/ico-acc.png') 50% 100%/13px 26px no-repeat;
}

/* 2뎁스 */
.snb-depth2 {
	display: none;
}

.snb-depth2 > li:first-child {
	padding-top: 20px;
}

.snb-depth2 > li:last-child {
	padding-bottom: 10px;
}

.snb-depth2 > li > a {
	display: inline-block;
	width: 100%;
	padding: 7px 18px;
	font: 400 15px 'Noto Sans KR';
	color: #333;
	line-height: 1.4;
	cursor: pointer;
}

.snb-depth2 > li.active > a {
	color: #E61400;
}

.snb-depth2 > li > a:before {
	content: '\00B7';
	padding: 0 3px 0 0;
}

.product-container {
	float: left;
	width: calc(100% - 228px);
	padding: 0 0 80px 55px;
}

.product-snb-sub {
	position: relative;
	width: 100%;
}

/* 제품 검색 */
.product-search {
	position: relative;
	padding: 30px 0;
	text-align: right;
}

#searchProduct {
	position: relative;
	width: 215px;
	border: 1px solid #D3D3D3;
	border-radius: 20px;
	padding: 10px 20px;
	font: 300 14px 'Noto Sans KR';
	color: #333;
}

#ico_searchProduct {
	position: absolute;
	z-index: 10;
	right: 15px;
	top: 50%;
	-ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
	width: 20px;
	height: 18px;
	background: transparent url('../img/icons/ico-search.png') 50% 50%/20px auto no-repeat;
	cursor: pointer;
}

/* 3뎁스 */
#list_depth_3 {
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 10px;
	margin: 0 0 13px 0;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	background-color: #F9F9F9;
}

#list_depth_3.hide {
	display: none;
}

#list_depth_3 li {
	position: relative;
	display: inline-block;
	transition: all .2s ease-in-out;
}

#list_depth_3 li > a {
	display: inline-block;
	position: relative;
	z-index: 5;
	padding: 10px 5px;
	margin: 0 5px;
	font: 400 15px 'Noto Sans KR';
	color: #333;
	cursor: pointer;
}

#list_depth_3 li.active > a:after {
	content: '';
	position: absolute;
	left: 0;
	bottom:  2px;
	width: 100%;
	height: 2px;
	background-color: #E61400;
}


#list_depth_3 li > a.active {
	color: #E61400;
}

.product-section {
	position: relative;
	width: 100%;
}

/* list item */
#list_product .list-item {
	display: inline-block;
	position: relative;
	float: left;
	width: calc(50% - 12px);
	margin: 17px 12px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
}

#list_product .list-item:nth-of-type(2n){
	margin-right: 0;
}

#list_product .list-item:nth-of-type(2n-1){
	margin-left: 0;
}

#list_product .list-item > a {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 10px;
	cursor: pointer;
}

.list-item-img-area {
	float: left;
	position: relative;
	width: 45%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

.list-item-img {
	width: 100%;
	padding-bottom: 99%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.list-desc {
	position: absolute;
	left: 45%;
	top: 50%;
	-ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 11px 5px 11px 10px;
}

.list-desc > span {
	width: 100%;
	margin: 4px 0;
	font: 500 14px 'Noto Sans KR';
	color: #333;
}

.list-desc > span > i {
	font-weight: 400;
}

.list-desc > span:before {
	content: '\00B7';
	padding: 0 3px 0 0;
}

/* product-no-list */
.product-no-list {
	position: relative;
	width: 100%;
	padding: 150px 0;
	font: 400 16px 'Noto Sans KR';
	color: #333;
	line-height: 1.4;
	text-align: center;
}

/* 상세페이지 */
#detail_product {
	margin: 60px auto 0 auto;
	padding: 30px 0 10px 0;
	border-top: 2px solid #333;
	border-bottom: 1px solid #D3D3D3;
}

#detail_product .img-area,
#detail_product .view-detail {
	float: left;
	position: relative;
	width: 50%;
	padding: 0 0 50px 0;
}

#detail_product .img-area {
	position: relative;
    /*overflow: hidden;*/
    overflow-x: hidden;
}

#detail_product .img-area .pd-img {
	float: left;
    height: 330px;
    /*background-size: cover;*/
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#detail_product .img-area .pd-img:focus {
	outline: none;
}

#detail_product .img-area .pd-img.one {
	width: 100%;
}

#detail_product .slick-dots {
	margin: 25px 0 0 0;
	text-align: center;
}

#detail_product .slick-dots li {
	display: inline-block;
	margin: 0 6.5px;
}

#detail_product .slick-dots li button {
	display: block;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    border-radius: 50px;
    background-color: #FFF;
}

#detail_product .slick-dots li.slick-active button {
	background-color: #333;
}


#detail_product .view-detail {
	padding: 14px 0 0 50px;
}

#detail_product .view-detail .title {
	padding: 0 0 20px 0;
}

#detail_product .view-detail .title h2 {
	font: 500 24px 'Noto Sans KR';
	color: #333;
	line-height: 1.4;
}

#detail_product .info {
	display: inline-block;
	position: relative;
    width: 100%;
   	padding: 0 0 20px 0;
   	margin-bottom: 10px;
   	border-bottom: 1px solid #D3D3D3;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

#detail_product .info tbody {
	display: inline-block;
    position: relative;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#detail_product .info tbody th {
	width: 170px;
	padding: 5px;
	font: 500 14px 'Noto Sans KR';
	color: #333;
	text-align: left;
}

#detail_product .info tbody th:before {
	content: '\00B7';
	padding: 0 5px 0 0;
}

#detail_product .info tbody th.clear-dot:before {
	content: '';
	padding: 0;
}

#detail_product .info tbody td {
	position: relative;
	padding: 5px;
	font: 400 14px 'Noto Sans KR';
	color: #333;
	text-align: left;
}

#detail_product .info tbody td.dashed {
	padding-left: 8px;
}

#detail_product .info tbody td.dashed:before {
	content: '-';
	position: absolute;
	left: 0;
	top: 4px;
	font: 400 14px 'Noto Sans KR';
	color: #333;
}

#detail_product .info tbody td.sub-title {
	padding-top: 15px;
	text-align: left;
}


/* file-list */
.file-wrap {
	position: relative;
	width: 100%;
}

.file-title {
	float: left;
	width: 58px;
	padding-top: 5px;
}

.file-title span {
	font: 400 13px 'Noto Sans KR';
	color: #333;
	line-height: 1.4;
}

#file_list {
	float: left;
	width: calc(100% - 80px);
}

#file_list li {
	display: inline-block;
	width: 100%;
}

#file_list li > p {
	display: inline-block;
	padding: 6px 5px;
	cursor: pointer;
}

#file_list li > p,
#file_list li > p.hwp,
#file_list li > p.xlxs,
#file_list li > p.pdf {
	padding-left: 22px;
	background: transparent url('../img/icons/ico-file.png') 0% 8px/20px 20px no-repeat;
}

#file_list li > p.png,
#file_list li > p.jpg,
#file_list li > p.jpeg,
#file_list li > p.gif {
	padding-left: 25px;
	background: transparent url('../img/icons/ico-img.png') 0% 55%/20px 20px no-repeat;
}

#file_list li span:nth-of-type(1) {
	font: 300 13px 'Noto Sans KR';
	color: #333;
	line-height: 1.4;
}

#file_list li span:nth-of-type(2) {
	padding: 0 0 0 2px;
	font: 300 12px 'Noto Sans KR';
	color: #333;
	line-height: 1.4;
}

#detail_product .product-contents {
	padding: 30px 0 0 0;
}

.product-file-area {
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	background-color: #FBFBFB;
}

.product-contents {
	
}
/* pading */
#paging {
	margin-top: 20px;
    text-align: center;
}

#paging.hide {
    display: none;
}

#paging span {
    display: inline-block;
}

#paging a {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin: 0 4px;
    font: 400 15px 'noto';
    color: #1C1C1C;
    line-height: 2.4;
    cursor: pointer;
}

#paging a.prev,
#paging a.next {
    width: 36px;
    height: 36px;
    margin-bottom: -12px;
    border: 1px solid #171717;
}

#paging a.current {
    border: 1px solid #171717;
}

#paging a.prev {
    background: #FFF url('../img/icons/ico-paging-prev-bl.png') 50% 50%/100% 100% no-repeat;
}

#paging a.prev.disabled {
    border: 1px solid #DDD;
    background: #FFF url('../img/icons/ico-paging-prev-gray.png') 50% 50%/100% 100% no-repeat;
}

#paging a.next {
    background: #FFF url('../img/icons/ico-paging-next-bl.png') 50% 50%/100% 100% no-repeat;
}

#paging a.next.disabled {
    border: 1px solid #DDD;
    background: #FFF url('../img/icons/ico-paging-next-gray.png') 50% 50%/100% 100% no-repeat;
}
/* // pading */

/* 모바일 & 태블릿 공통 */
@media(max-width: 1023px) {

	.trail-box {
		bottom: -134px;
		width: 100%;
		height: auto !important;
		padding:25px 15px 0 15px;
		background-color: #FFF;
	}

	#list_trail #trail_home,
	#trail_depth_def {
		display: none !important;
	}

	#list_trail li {
		float: none;
		width: 100%;
		height: 45px;
	}

	#list_trail .trail-item {
		display: none;
		width: 100%;
		height: auto;
		padding: 13px 5px 13px 22px;
		margin: 0 0 8px 0;
		border: 1px solid #D3D3D3;
		border-radius: 5px;
	}
	/*
	#list_trail #trail_depth3.mobile-f {
		display: none !important;
	}*/
	
	/*#trail_depth1,
	#trail_depth2,
	#trail_depth3 {
		display: none !important;
	}*/

	#list_trail .trail-item.mobile-f {
		/*display: none !important;*/
		width: 100%;
		max-width: 100%;
		margin: 0;
		border-right: 1px solid #D3D3D3;
	}

	#list_trail .trail-item span {
		background: transparent url('../img/icons/ico-acc-s-black.png') 95% 50%/10px 7px no-repeat;
		font: 400 16px 'Noto Sans KR';
		color: #333;
	}

	#list_trail .trail-item.mobile-f span {
		padding-right: 40px;
	}

	#list_trail .trail-item ul {
	    top: 45px;
	    border: 1px solid #D3D3D3;
	}
		
	#list_trail .trail-item ul li {
		padding: 13px 5px 13px 22px;
		background-color: #FFF;
		border-bottom: 1px solid #D3D3D3;
		font: 400 14px 'Noto Sans KR';
		color: #333;
	}

	.select-mobile {
		float: left;
		display: inline-block;
	    width: 100% !important;
	    height: auto !important;
	    /*background-color: gray;*/
	}

	.select-mobile select {
		width: 100% !important;
	    height: auto !important;
	    padding: 13px 35px 13px 22px;
	    margin: 0 0 8px 0;
	    border: 1px solid #D3D3D3;
	    border-radius: 5px;
        background: transparent url(../img/icons/ico-acc-s-black.png) 95% 50%/10px 7px no-repeat;
	    font: 400 16px 'Noto Sans KR';
	    color: #333;
	}

	.select-mobile.hide {
		display: none;
	}

	.select-mobile select option {
		overflow: hidden;
    	text-overflow: ellipsis;
	    -o-text-overflow:ellipsis;
	    -ms-text-overflow:ellipsis;
	    -moz-text-overflow:ellipsis;
	    display: block;
	    display: -webkit-box;
	    -webkit-line-clamp: 1;
	    -webkit-box-orient: vertical;
	    word-wrap: break-word;
	    word-break: break-all;
	    line-height: 1.5em;
	    height: 1.5em;
	}


.product-wrap {
	position: relative;
	width: 100%;
	max-width: 1024px;
	min-height: 300px;
	margin: 0 auto;
}

	.product-snb {
		display: none;
	}

	.product-container {
		width: 100%;
		/*padding: 120px 0 40px 0px;*/
		padding: 80px 0 40px 0px;
	}

	.product-container.mobile {
		padding-top: 0;
	}

		/* 제품 검색 */
	.product-search {
		display: none;
	}

	/* 3뎁스 */
	#list_depth_3 {
		display: none !important;
		width: calc(100% - 30px);
		margin: 0 15px 5px 15px;
		padding: 10px 5px;
	}

	#list_depth_3 li > a {
		padding: 10px 5px;
		margin: 0 15px;
	}

	/* list item */
	#list_product {
		padding:0 15px;
	}

	#list_product .list-item {
		width: calc(50% - 7.5px);
		margin: 7.5px;
	}

	#list_product .list-item:nth-of-type(2n){
		margin-right: 0;
	}

	#list_product .list-item:nth-of-type(2n-1){
		margin-left: 0;
	}

	#list_product .list-item > a {
		padding: 8px;
	}

	.list-item-img-area {
		width: 35%;
	}

	.list-item-img {
		/*padding-bottom: 85%;*/
	}

	.list-desc {
		left: 35%;
		padding: 10px 5px 10px 9px;
	}

/* product-no-list */
.product-no-list {
	position: relative;
	width: 100%;
	padding: 150px 0;
	font: 400 16px 'Noto Sans KR';
	color: #333;
	line-height: 1.4;
	text-align: center;
}

	/* 상세페이지 */
	#detail_product {
		/*margin: 135px 15px 0 15px;*/
		margin: 60px 15px 0 15px;
		width: calc(100% - 30px);
		padding: 25px 0 10px 0;
	}

	#detail_product .img-area .pd-img {
		float: left;
	}

	#detail_product .slick-dots {
		margin: 20px 0 0 0;
	}

	#detail_product .view-detail {
		padding:  12px 0 0 40px;
	}

	#detail_product .view-detail .title h2 {
		font: 500 22px 'Noto Sans KR';
		line-height: 1.4;
	}

#detail_product .info {
	display: inline-block;
	position: relative;
    width: 100%;
   	padding: 0 0 20px 0;
   	margin-bottom: 10px;
   	border-bottom: 1px solid #D3D3D3;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

#detail_product .info tbody {
	display: inline-block;
    position: relative;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#detail_product .info tbody th {
	width: 170px;
	padding: 5px;
	font: 500 14px 'Noto Sans KR';
	color: #333;
}

#detail_product .info tbody th:before {
	content: '\00B7';
	padding: 0 5px 0 0;
}

#detail_product .info tbody td {
	position: relative;
	padding: 5px;
	font: 400 14px 'Noto Sans KR';
	color: #333;
}

#detail_product .info tbody td.dashed {
	padding-left: 8px;
}

#detail_product .info tbody td.dashed:before {
	content: '-';
	position: absolute;
	left: 0;
	top: 4px;
	font: 400 14px 'Noto Sans KR';
	color: #333;
}


/* file-list */
.file-wrap {
	position: relative;
	width: 100%;
}

.file-title {
	float: left;
	width: 58px;
	padding-top: 5px;
}

.file-title span {
	font: 400 13px 'Noto Sans KR';
	color: #333;
	line-height: 1.4;
}

#file_list {
	float: left;
	width: calc(100% - 80px);
}

#file_list li {
	display: inline-block;
	width: 100%;
}

#file_list li > p {
	display: inline-block;
	padding: 6px 5px;
}


#file_list li span:nth-of-type(1) {
	font: 300 13px 'Noto Sans KR';
	color: #333;
	line-height: 1.4;
}

#file_list li span:nth-of-type(2) {
	padding: 0 0 0 2px;
	font: 300 12px 'Noto Sans KR';
	color: #333;
	line-height: 1.4;
}

#detail_product .product-contents {
	padding: 30px 0 0 0;
}

.product-file-area {
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	background-color: #FBFBFB;
}

.product-contents {
	
}






















}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1024px) {
	
}

/* 모바일 */
@media(max-width: 767px) {
	
	/* list item */
	#list_product .list-item,
	#list_product .list-item:nth-of-type(2n),
	#list_product .list-item:nth-of-type(2n-1) {
		width: 100%;
		margin: 7.5px 0;
	}

	#list_product .list-item {
		min-height: 180px;
	}

	#list_product .list-item > a {
		position: static;
	}

	/* 상세페이지 */
	#detail_product .img-area,
	#detail_product .view-detail {
		float: none;
		width: 100%;
	}

	#detail_product .img-area .pd-img {
		height: 200px;
	}

	#detail_product .view-detail {
		padding: 15px 0 0 0;
	}
}

/* 모바일 가로화면 */
@media (min-width: 500px) and (max-width: 768px) {

}

/* PC */
@media(min-width: 1023px) {


	#list_depth_3 li:after {
		content: '';
		position: absolute;
	    z-index: 0;
	    left: -2px;
	    top: 7px;
	    width: 0;
	    height: 30px;
	    -ms-transform: skewX(-10deg);
	    -webkit-transform: skewX(-10deg);
	    -moz-transform: skewX(-10deg);
	    -o-transform: skewX(-10deg);
	    transform: skewX(-10deg);
	    transition: width 300ms ease-in;
	}
	

	#list_depth_3 li:hover:after {
		/*width: calc(100% + 25px);*/
		width: 100%;
    	background-color: #e5e5e5;
	}

	#paging a.prev:not(.disabled):hover {
        border: 1px solid #171717;
        background: #171717 url('../img/icons/ico-paging-prev-wh.png') 50% 50%/100% 100% no-repeat;
    }

    #paging a.next:not(.disabled):hover {
        border: 1px solid #171717;
        background: #171717 url('../img/icons/ico-paging-next-wh.png') 50% 50%/100% 100% no-repeat;
    }
}