@charset "UTF-8";

/* 헤더 */
.cscenter .h-title {
    position: relative;
    padding: 15px 15px 10px;
}

.cscenter .h-title .btn-close {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 24px;
    height: 24px;
    background: url(../img/ico-close.png) 0 0 / 24px auto no-repeat;
    overflow: hidden;
    text-indent: 101%;
}

.cscenter .cs-tab ul {
    margin: 0 15px;
    border-bottom: 2px solid #333;
}

/* 바디 */
.cscenter .cs-body {
    position: relative;
    margin: 0 15px;
    height: calc(100% - 220px);
    background-color: #fff;
}

.cscenter .cs-body .tab-panel#talkTab,
.cscenter .cs-body .tab-panel#formTab {
/*    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;*/
}

/* 푸터 */
.cscenter .cs-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 15px 15px 15px 20px;
    /*background-color: #4457c0;*/
    background-color: #333;
}

.cscenter .f-btn-group .btn-navi-cs {
    display: block;
    background: url(../img/ico-navi.png) 49% 5px / 38px auto no-repeat;
}

/* 지도모달 */
.cscenter .cs-modal-content {
    padding: 10px 15px;
    width: 100%;
    height: calc(100% - 50px);
}

